.folders-list {
  width: 300px;
  margin-left: 10px;
  padding: 10px;
}
.new-folder-input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.603);
  padding: 10px;
  font-size: 16px;
  border: none;
}
.new-folder-input:focus {
  outline: none;
}
.new-folder-input::placeholder {
  color: rgba(255, 255, 255, 0.171);
}
.folders-column {
  background-color: #1b222e;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.11);
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}
.folders {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Stylizacja ścieżki przewijania */
::-webkit-scrollbar-track {
  background: #f1f1f115; /* Kolor tła ścieżki przewijania */
}

/* Stylizacja kciuka paska przewijania */
::-webkit-scrollbar-thumb {
  background: #acacab1f; /* Kolor kciuka paska przewijania */
  border-radius: 3px;
}

/* Stylizacja kciuka paska przewijania po najechaniu myszą */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Kolor kciuka paska przewijania po najechaniu myszą */
}
