body {
  background-color: #233038;
}
.notes-container {
  display: flex;
  flex: 1;
  min-width: 0;
}

.notes-list {
  width: 15%;
  border-right: 1px solid rgba(255, 255, 255, 0.11);
  width: 20%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 190px;
  margin-top: 5px;
}
.wrapper button {
  margin-top: 1px;
}
.archive {
  margin-top: 25px;
  border-radius: 10px;
}
.archive:hover {
  background-color: rgba(184, 184, 184, 0.062);
}
