body {
  background-color: #233038;
}
.notes-container {
  display: flex;
  flex: 1;
  min-width: 0;
}

.notes-list {
  width: 15%;
  border-right: 1px solid rgba(255, 255, 255, 0.11);
  width: 20%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 190px;
}
.wrapper button {
  margin-top: 7px;
}
